@font-face {
    font-family: "ChivoMono";
    src: url(fonts/ChivoMono-Regular.ttf);
}

@font-face {
    font-family: "NotoSans";
    src: url(fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: "IBMPlexMono";
    src: url(fonts/IBMPlexMono-Regular.ttf);
}

/*
/////////////
/// STUFF ///
/////////////
*/

body {
    margin: 0px;
    background-color: #1b1b20;
}

main {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;

    padding-left: 1ch;
    padding-right: 1ch;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 1ch;

    box-shadow: 10px 10px 5px #18181a;

    background-color: #26262b;
}

h1 {
    margin-top: 1rem;

    border-bottom-color: #dddddd;
    border-bottom-style: solid;

    color: #dddddd;
    font-family: ChivoMono, monospace;
    text-align: center;
}

h2 {
    padding-left: 1ch;

    border-bottom-color: #dddddd;
    border-bottom-style: solid;

    color: #dddddd;
    font-family: ChvioMono, monospace;
    font-weight: lighter;
}

p {
    color: #dddddd;
    line-height: 3ch;
    font-family: NotoSans, sans-serif;
}

/*
///////////////
/// CLASSES ///
///////////////
*/

/* COLLAPSIBLE UL */

.drawer {
    padding-left: 0;
}

.drawer li {
    list-style: none;
    display: grid;
    grid-template-rows: 0fr;
}

.drawer label {
    padding-top: 1.5ch;
    padding-bottom: 0.5ch;
    padding-right: 1ch;

    display: flex;
    justify-content: space-between;
    color: #dddddd;

    font-family: ChivoMono, monospace;
    text-indent: 1ch;
    cursor: pointer;

    background-color: #2b2b2f;
    border-bottom-style: solid;
    border-bottom-color: #333336;

    transition:
        color 0.2s,
        background-color 0.2s,
        border-bottom-color 0.2s;
}

.drawer label + input[type="radio"] {
    display: none;
}

.drawer .content {
    color: #dddddd;
    font-family: NotoSans, sans-serif;

    padding: 0 10px;
    max-height: 0;

    overflow: hidden;
    background-color: #2d2d30;

    transition-property: max-height;
    transition-duration: 0.5s;
}

.drawer label:hover{
    color: white;
    background-color: #343438;
    border-bottom-color: #404045;
}

.drawer label + input[type="radio"]:checked + .content {
    max-height: 100%;
    grid-template-rows: 1fr;
}

.collapse-button {
    
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;

    color: #dddddd;
    font-family: ChivoMono, monospace;
    font-size: large;

    cursor: pointer;
    border-color: #343438;
    border-style: inset;

    background-color: #2d2d30;

    transition:
        color 0.2s,
        border-color 0.2s,
        background-color 0.2s;
    
}

.collapse-button:hover {
    color: white;
    background-color: #343438;
    border-color: #404045;
}

/* NAVBAR */

.navbar {
    top: 0px;

    position: sticky;
}

.navbar ul {
    padding: 0px;
    margin: 0px;

    list-style-type: none;
    overflow: hidden;

    background-color: #121216;
}

.navbar a {
    padding: 1rem;

    display: block;
    float: left;

    font-family: IBMPlexMono, monospace;
    text-decoration: none;
    text-align: center;

    color: #dddddd;

    transition:
        color 0.2s,
        background-color 0.2s;
}

.navbar a:hover {
    color: white;
    background-color: #19191d;
}

/* GRID-CONTAINER */

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.grid-container a {
    padding: 5rem;
    margin: 0.5rem;
    display: block;

    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: ChivoMono, monospace;
    font-weight: bold;
    border-radius: 1rem;

    color: #dddddd;
    background-color: #2b2b2f;


    transition:
        color 0.2s,
        background-color 0.2s;

}

.grid-container a:hover {
    color: white;
    background-color: #343438;
}