@import url("/demo/resources/css/drawer.css");
@import url("/demo/resources/css/nav-panel.css");
@import url("/demo/resources/css/profile.css");
@import url("/demo/resources/css/spell-search.css");

body {
  margin: 0px;
  background-color: var(--darker-gray-bg3);
}

main {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;

  padding-left: 1ch;
  padding-right: 1ch;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 1ch;

  box-shadow: 10px 10px 5px var(--darker-gray-bg2);
  background-color: var(--main-bg);
}

h1 {
  margin-top: 1rem;

  color: var(--default-fg);
  font-family: ChivoMono, monospace;
  text-align: center;

  border-bottom-color: var(--default-fg);
  border-bottom-style: solid;
}

h2 {
  padding-left: 1ch;

  color: var(--default-fg);
  font-family: ChvioMono, monospace;
  font-weight: lighter;

  border-bottom-color: var(--default-fg);
  border-bottom-style: solid;
}

p {
  line-height: 3ch;
  color: var(--default-fg);
  font-family: NotoSans, sans-serif;
  font-size: large;
}

/* is there a better way to do this? probably.
 * though i don't know such a way. */
a {
  font-family: NotoSans, sans-serif;
}
a:link {
  color: var(--link-default-fg);
}
a:visited {
  color: var(--link-visited-fg);
}
a:hover {
  color: var(--link-hover-fg);
}
a:active {
  color: var(--link-active-fg);
}
