/* Colors */

/* inspired by the tomorrow theme. */
:root {
  /* bg of ui elements like the navigation panel */
  --darker-gray-bg1: rgb(15, 17, 18);
  --darker-gray-bg2: rgb(18, 20, 21);
  --darker-gray-bg3: rgb(21, 23, 24);
  --darker-gray-bg4: rgb(25, 27, 28);

  /* bg for most of the website */
  --dark-gray-bg1: rgb(29, 31, 33);
  --dark-gray-bg2: rgb(33, 34, 36);
  --dark-gray-bg3: rgb(36, 37, 39);

  /* bg for more "important" ui elements */
  --gray-bg1: rgb(39, 42, 46);
  --gray-bg2: rgb(43, 45, 49);
  --gray-bg3: rgb(45, 48, 51);

  /* specific stuff */
  --main-bg: rgb(25, 27, 28);
  --default-fg: rgb(187, 187, 187);
  --focused-fg: white;
  --link-default-fg: rgb(65, 115, 175);
  --link-visited-fg: rgb(45, 100, 150);
  --link-hover-fg: rgb(45, 175, 210);
}

/* Fonts */
@font-face {
  font-family: "ChivoMono";
  src: url(/resources/fonts/ChivoMono-Regular.ttf);
}

@font-face {
  font-family: "NotoSans";
  src: url(/resources/fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: "IBMPlexMono";
  src: url(/resources/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: "MartianMono";
  src: url(/resources/fonts/MartianMono-Regular.ttf);
}
