/* table heavily inspired by wikidot's design for 5e spells. */

#spell-search {
  padding: 1rem;
  border: 0.5rem solid var(--dark-gray-bg2);
  border-top-width: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  display: block;
}

#spell-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  display: table;
  color: var(--default-fg);
  text-align: left;
}

#spell-table > tbody {
  vertical-align: middle;
}

#spell-table > tbody > tr > th {
  padding: 8px;
  border-top: none;
  background-color: var(--gray-bg1);
  font-family: MartianMono;
  font-size: large;
}

#spell-table > tbody > tr > td {
  padding: 8px;
  font-family: NotoSans;
  font-size: large;
  border-bottom: 1px solid var(--dark-gray-bg3);
}

/* is there a better way to do this? probably.
 * though i don't know if such a way. */
#spell-table > tbody > tr > td > a:link {
  color: var(--link-default-fg);
}
#spell-table > tbody > tr > td > a:visited {
  color: var(--link-visited-fg);
}
#spell-table > tbody > tr > td > a:hover {
  color: var(--link-hover-fg);
}
#spell-table > tbody > tr > td > a:active {
  color: var(--link-active-fg);
}
