@import url("/defaults.css");
/* table no longer heavily inspired by wikidot's design for 5e spells. */

#spell-search {
  border: 0.5rem solid var(--dark-gray-bg1);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: block;
}

#spell-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  display: table;
  color: var(--default-fg);
  text-align: left;
}

#spell-table>tbody {
  vertical-align: middle;
}

#spell-table>tbody>tr:nth-child(odd) {
  background-color: var(--dark-gray-bg3);
}

#spell-table>tbody>tr:nth-child(even) {
  background-color: var(--dark-gray-bg2);
}

#spell-table>tbody>tr>th {
  padding: 8px;
  border-top: none;
  background-color: var(--gray-bg1);
  font-family: NotoSans;
  font-size: large;
}

#spell-table>tbody>tr>td {
  padding: 8px;
  font-family: NotoSans;
  font-size: large;
}
